# Requirements Document

<!-- Overall introduction -->

{{ desc }}

# Requirements Order

The requirements are presented in the following order:

1. REQ-[FUNCTIONAL-AREA-SLUG]
2. REQ-[ANOTHER-FEATURE-SLUG]

<!-- Add/remove/reorder items in this list to change requirement presentation order -->

---

# Requirements

## REQ-[FUNCTIONAL-AREA-SLUG]

**User Story:** As a [role], I want to [action], so that [benefit].

### Acceptance Criteria

1. WHEN [condition] THEN the system SHALL [behavior]
2. WHEN [condition] THEN the system SHALL [behavior]

## REQ-[ANOTHER-FEATURE-SLUG]

**User Story:** As a [role], I want to [action], so that [benefit].

### Acceptance Criteria

1. WHEN [condition] THEN the system SHALL [behavior]
2. IF [condition] THEN the system SHALL [behavior]
