.DS_Store
cache/
backup/*
!backup/.gitkeep
ac-comphist.dat
.netrwhist
workspaceStorage
conf/VSCode/projects.json
.watchman-*
node_modules/
conf/VSCode/*.backup
syncLocalSettings.json
sync.lock
nix/foo.nix
./result
.aider*
