# Kiro Spec Control Board

- **Project**: {{ desc }}
- **Owner**: {{ user }}
- **Created**: {{ now }}

**Spec files status** (one of: ready, draft, empty):

- requirements.md: empty
- design.md: empty
- tasks.md: empty
---

# Critical Rules

- Make sure **Spec files status** is up to date
- **Never proceed without user approval** for major phase transition
- **Always ask questions** when requirements are unclear
- **Present options** for user to choose from rather than assuming intent
- **Only edit code** when explicitly requested or after plan approval
- **Keep user decisions documented**: update Session Notebook -> Decisions with the new decisions that user made, like user want to tweak the design to use X instead of Y.
- **Task checkbox**: All tasks should have a checkbox to track completion.
- Use bash `date +%Y-%m-%d+%H:%M` to generate timestamp for current datetime.

---

# Session Notebook

## Decisions

<!-- List of key decisions made during the session, include timestamp -->
- (timestamp) Example ...

## Questions

<!-- List of questions asked to the user and their answers, include timestamp -->

## Risks

<!-- List of identified risks and mitigation strategies -->

## Findings

<!-- List of important findings during research or implementation -->
