# Requirements Document

## Introduction

{{ desc }}

## Requirements

### Requirement 1

**User Story:** As a [role], I want to [action], so that [benefit].

#### Acceptance Criteria

1. WHEN [condition] THEN the system SHALL [behavior]
2. WHEN [condition] THEN the system SHALL [behavior]

### Requirement 2

**User Story:** As a [role], I want to [action], so that [benefit].

#### Acceptance Criteria

1. WHEN [condition] THEN the system SHALL [behavior]
2. IF [condition] THEN the system SHALL [behavior]
